<shared-load-spinner *ngIf="isLoading"></shared-load-spinner>
<div class="card">
  <div class="flex justify-content-center flex-wrap">
    <mat-card class="shadow-8">
      <mat-card-header>
        <mat-card-title>Cálculo de Costos</mat-card-title>
        <mat-card-subtitle><small>{{nameConcept | titlecase}}</small></mat-card-subtitle>
      </mat-card-header>
      <mat-divider class="mt-2 mb-2"></mat-divider>
      <mat-card-content>
        <div class="">
          <form action="" fxLayout="column"  [formGroup]="refrendoSerPubForm" (ngSubmit)="onSubmit()">
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex class="col-10" appearance="outline">
                <mat-label>Oficina del trámite</mat-label>
                <mat-select formControlName="oficina" required>
                  <mat-option *ngFor="let oficina of oficinasArr" [value]="oficina.id">{{oficina.nombre}}</mat-option>
                </mat-select>
                <mat-error class="fontsizeerror" *ngIf="isValidField('oficina')"> Campo requerido </mat-error>
              </mat-form-field>
            </div>

            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline" hintLabel="">
                <mat-label>Folio Concesión </mat-label>
                <input matInput formControlName="folio_concesion" required type="text" name="">
                <mat-error class="fontsizeerror"> {{ getMessage(refrendoSerPubForm.get('folio_concesion')?.getError('error'),'folio_concesion') }} </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Confirmar Folio Concesión</mat-label>
                <input matInput formControlName="confirmarFolioConcesion" required type="text">
                <mat-error class="fontsizeerror" *ngIf="refrendoSerPubForm.get('confirmarFolioConcesion')?.hasError('required')">Campo requerido</mat-error>
                <mat-error class="fontsizeerror" *ngIf="refrendoSerPubForm.get('confirmarFolioConcesion')?.hasError('notEqual')">Los folios de concesión no coinciden</mat-error>
              </mat-form-field>
            </div>

            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>No Placa</mat-label>
                <input matInput formControlName="placa" required type="text" maxlength="8">
                <mat-error class="fontsizeerror" *ngIf="isValidField('placa')"> Campo requerido </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Confirmar No Placa</mat-label>
                <input matInput formControlName="confirmarPlaca" required type="text" maxlength="8">
                <mat-error class="fontsizeerror" *ngIf="refrendoSerPubForm.get('confirmarPlaca')?.hasError('required')">Campo requerido</mat-error>
                <mat-error class="fontsizeerror" *ngIf="refrendoSerPubForm.get('confirmarPlaca')?.hasError('notEqual')">Las placas no coinciden</mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="mostrarSerie" fxFlex class="" appearance="outline" hintLabel="">
                <mat-label>Serie Vehicular </mat-label>
                <input #serie matInput formControlName="serie" required #serieV type="text" name="">
                <mat-error class="fontsizeerror"> {{ getMessage(refrendoSerPubForm.get('serie')?.getError('error'),'serie') }} </mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="mostrarSerie" fxFlex class="" appearance="outline" hintLabel="">
                <mat-label>Confirmar Serie Vehicular</mat-label>
                <input matInput formControlName="confirmarSerie" required type="text">
                <mat-error class="fontsizeerror" *ngIf="refrendoSerPubForm.get('confirmarSerie')?.hasError('required')">Campo requerido</mat-error>
                <mat-error class="fontsizeerror" *ngIf="refrendoSerPubForm.get('confirmarSerie')?.hasError('notEqual')">Las series no coinciden</mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions align="end">
        <div class="flex justify-content-between">
          <button mat-stroked-button color="warn" [routerLink]="['/pagos/dependencias']">
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
          <span class="spacer"></span>
          <button mat-stroked-button color="primary" [disabled]="refrendoSerPubForm.invalid" (click)="onSubmit()">
            <mat-icon>calculate</mat-icon>
            Calcular
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
