/* menu-buttons.component.scss */
.menu-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  
  .menu-buttons-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .menu-button {
    width: 60px;
    height: 60px;
    background-color: #C49A6D; /* Color café claro/beige como en la imagen */
    box-shadow: none;
    
    
  }
  .menu-button:hover {
    background-color: #dab89b; /* Un poco más oscuro al hacer hover */
    transform: translateY(-3px);
    transition: all 0.3s ease;
  }
  /* Estilo para los iconos dentro de los botones */
  .custom-icon {
    color: #a26244; /* Color café más oscuro/rojizo para los iconos */
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
  
  /* Estilo personalizado para los tooltips si lo necesitas */
  ::ng-deep .mat-tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    padding: 8px 12px;
  }