<div class="grid flex">
  <div class="col-8">
    <mat-card>
      <mat-card-header class="mb-3">
        <mat-card-title>Cálculo de Costos</mat-card-title>
        <mat-card-subtitle>{{conceptTitle | lowercase }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-3">
        <form [formGroup]="myForm">
          <form-alta-vehiculo (tipoVehiculoEmit)="updateFiel($event)"></form-alta-vehiculo>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Modelo</mat-label>
              <input matInput type="number" formControlName="modelo">
              <mat-error *ngIf="isValidField('modelo')"> Debe tener un valor entre el rango de 1900 y {{anio + 1}}</mat-error>
            </mat-form-field>

            <mat-form-field #field  floatLabel="always" appearance="outline" class="full-width radio-container">
              <mat-label>Procedencia</mat-label>
              <input matInput style="display:none" required>
              <mat-radio-group #group formControlName="procedencia" class="flex-wrap" >
                <mat-radio-button #buttons value="NACIONAL">
                  <span class="wrap-label-text">Nacional</span>
                </mat-radio-button>
                <mat-radio-button #buttons value="EXTRANJERO">
                  <span class="wrap-label-text">Extranjero</span>
                </mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Cilindros</mat-label>
              <input matInput formControlName="cilindros" type="number" name="" id="">
              <mat-error *ngIf="isValidField('cilindros')">Campo requerido y numérico</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Centímetros cúbicos</mat-label>
              <input matInput formControlName="centimetros" type="number" >
              <mat-error *ngIf="isValidField('centimetros')">Campo requerido y numérico</mat-error>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Pasajeros</mat-label>
              <input matInput formControlName="pasajeros" type="number" name="" id="">
              <mat-error *ngIf="isValidField('pasajeros')">Campo requerido y numérico</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor de la factura</mat-label>
              <input matInput formControlName="valor_factura" type="number" >
              <mat-error *ngIf="isValidField('valor_factura')">Campo requerido y numérico</mat-error>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline">
              <mat-label>Placa foranea y/o placa anterior</mat-label>
              <input matInput formControlName="placa_foranea" type="text" name="" id="">
              <mat-error *ngIf="isValidField('valor_factura')">Campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field #field_pf  floatLabel="always" appearance="outline" class="full-width radio-container">
              <mat-label>Pago baja foranea ?</mat-label>
              <input matInput style="display:none" required>
              <mat-radio-group #group_pf formControlName="pago_baja_f" class="flex-wrap" >
                <mat-radio-button #buttons_pf value="0">
                  <span class="wrap-label-text">Si</span>
                </mat-radio-button>
                <mat-radio-button #buttons_pf value="1">
                  <span class="wrap-label-text">No</span>
                </mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field #field_p floatLabel="always" appearance="outline" class="full-width radio-container">
              <mat-label>Pagos realizados</mat-label>
              <input matInput style="display:none" required>
              <mat-radio-group #group_p class="flex-wrap" *ngFor="let subtask of aniosPago; index as i" formArrayName="pagos">
                <mat-checkbox [formControlName]="i" >{{subtask.name}}</mat-checkbox>
              </mat-radio-group>
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button mat-button mat-raised color="warn">
          <mat-icon>delete</mat-icon>
            Borrar
        </button>
        <button mat-button mat-raised color="primary" (click)="calcularPago()">
          <mat-icon>more_horiz</mat-icon>
            Calcular
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <smyt-messages [messageArr]="messages" [messageArr_other]="messages_other"></smyt-messages>
    <mat-card>
      <mat-card-content>
        Checkbox values: {{ myForm.controls['pagos'].value | json}}
        <br />
        Submitted values: {{ submittedValue | json}}

        <div class="row">
          <div class="col">
            <span>Valid</span>
            <pre>{{ myForm.getRawValue() | json }}</pre>
          </div>


        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>






