<mat-card class="scrollable-content">
  <mat-card-header>
    <nav mat-tab-nav-bar color="undefined" >
      <a mat-tab-link *ngFor="let link of links; index as ind"
        (click)="activeLinkFunct(ind)" [active]="activeLink == link" >
        <mat-icon class="example-tab-icon">{{links_icons[ind]}}</mat-icon>
        {{link}}
      </a>
    </nav>
    <span class="spacer"></span>
    <div>
    <button mat-stroked-button mat-raised color="primary" (click)="getPoliza()" *ngIf="position[0]">Obtener Póliza de Pago</button>
    <button mat-stroked-button color="warn" *ngIf="position[1]">pago en Línea</button>
    </div>
  </mat-card-header>
  <mat-divider class="mt-5"></mat-divider>
  <mat-card-content>
    <mat-tab-nav-panel #0 *ngIf="position[0]" class="mt-5">
      <ul class="mt-2 list-group">
        <li class="list-group-item">
      Puedes realizar tu pago con depósito en efectivo en cualquier sucursal de los siguientes Bancos de la República Mexicana:
          <ul class="mt-2 list-group">
            <li class="list-group-item">Banorte: 42124</li>
            <li class="list-group-item">HSBC RAP: 2420</li>
            <li class="list-group-item">HSBC SPEI-PIRE: 021180550300024203</li>
          </ul>
        </li>
        <li class="list-group-item">
          Pago en efectivo en Sucursal y a través de Transferencia Bancaria en CITIBANAMEX convenio GOB <strong>MORELOS WS 4579/01</strong>
        </li>
        <li class="list-group-item">
          Pago referenciado usando <strong>SPEI</strong> desde cualquier <strong>BANCA EN LÍNEA</strong>
        </li>
        <li class="list-group-item">
          Tienes hasta el <strong>XX</strong> para realizar el depósito.
        </li>
        <li class="list-group-item">
          Pago con cheque <strong>BANAMEX</strong> , realizar pago sólo en sucursales <strong>BANAMEX</strong>
        </li>
        <li class="list-group-item">
          Pago con cheque <strong>HSBC</strong> , realizar pago sólo en sucursales <strong>HSBC</strong>.
        </li>
        <li class="list-group-item">
          Pago con cheque <strong>BANCOMER</strong>, realizar pago sólo en sucursales <strong>BANCOMER</strong>.
        </li>
        <li class="list-group-item">
          Pago con cheque <strong>BANORTE</strong> y otros bancos, realizar pago sólo en sucursales <strong>BANORTE</strong>.
        </li>
        <li class="list-group-item">
          Pago en efectivo en sucursales de <strong>BANCO AZTECA</strong>
        </li>
      </ul>
      <p>
Una vez confirmado el pago,podrás consultar tu comprobante y/o CFDI en <strong>www.hacienda.morelos.gob.mx</strong>, utilizando la línea de captura de tu póliza.
      </p>
      <p>
Si realiza su pago, por medio del SPEI, es importante que en el rubro de Concepto o Referencia de pago,según su banca en línea, ingrese únicamente el número de Línea de Captura, de lo contrario la transferencia será denegada por el banco.
      </p>
Si pagas por medio de SPEI o en sucursales HSBC, tu comprobante lo podrás consultar en 30 minutos en www.hacienda.morelos.gob.mx, utilizando la línea de captura de tu póliza.
      <p>
Si realiza su pago, por medio del SPEI o en ventanilla bancaria de los bancos de BBVA, Banamex y Santander los pagos se acreditaran de 1 a 2 días hábiles.
      </p>
    </mat-tab-nav-panel>
    <mat-tab-nav-panel #1 *ngIf="position[1]">
      Cpntenido 2
    </mat-tab-nav-panel>
    <mat-tab #tabPanel>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Deepósito Bancario
      </ng-template>
      Content 1
    </mat-tab>

  </mat-card-content>
<!--mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Deepósito Bancario
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">credit_card</mat-icon>
      Tarjeta de Crédito o Débito
    </ng-template>
    Content 2
  </mat-tab>
</mat-tab-group-->
</mat-card>
