<!--<altcha-widget challengeurl="http://192.168.114.89:8080/api/v1/captcha/challenge" hidefooter
  (statechange)="onStateChange($event)">
</altcha-widget>-->

<mat-card class="" *ngIf="isVerified">
  <mat-card-header>
    <mat-tab-group (selectedIndexChange)="activeLinkFunct($event)">
      <mat-tab *ngFor="let link of links; index as ind">
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">{{links_icons[ind]}}</mat-icon>
          {{link}}
        </ng-template>
      </mat-tab>
    </mat-tab-group>



    <span class="spacer"></span>
    <div></div>
  </mat-card-header>
  <mat-divider class=""></mat-divider>
  <mat-card-content>
    <div class="mt-3 flex  justify-content-center" *ngIf="!mostrarEmbedBanorte">
      <button mat-raised-button color="primary" (click)="getPoliza()">Obtener Póliza de Pago</button>
    </div>
    <mat-tab-nav-panel #0 *ngIf="position[0] && !mostrarEmbedBanorte" class="mt-5">
      <!--<form [formGroup]="myForm" id="formPagoEnLinea" method="post" [action]="environment" style="display:none;"
        target="_blank" #formPL>
        <input formControlName="numeroPoliza" id="numeroPoliza" name="numeroPoliza" type="hidden">
        <input formControlName="lineaCaptura" id="lineaCaptura" name="lineaCaptura" type="hidden">
        <input formControlName="monto" id="monto" name="monto" type="hidden">
        <input formControlName="nombrePago" id="nombrePago" name="nombrePago" type="hidden">
        <input formControlName="lineaDetallePago" id="lineaDetallePago" name="lineaDetallePago" type="hidden">
        <input formControlName="pago2015" id="pago2015" name="pago2015" type="hidden">
        <input formControlName="banco" id="banco" name="banco" type="hidden">
        <input formControlName="extra" id="extra" name="extra" type="hidden">
        <input formControlName="fecha" id="fecha" name="fecha" type="hidden">
      </form>-->
      <div class="flex  justify-content-center">
        <object [ngStyle]="{'width': (sizeDisplay == 'XSmall' || sizeDisplay=='Small') ? '350px' : '1100px'}"
          height="800">
          <embed [src]="url_pagolinea|sanitizeUrl"
            [ngStyle]="{'width': (sizeDisplay == 'XSmall' || sizeDisplay=='Small') ? '350px' : '1100px'}"
            height="800" />
        </object>
      </div>


    </mat-tab-nav-panel>
    <div #1 *ngIf="position[1] && !mostrarEmbedBanorte">

      <mat-tab-nav-panel class="mt-5">
        <ul class="mt-2 list-group">
          <li class="list-group-item">
            Puedes realizar tu pago con depósito en efectivo en cualquier sucursal de los siguientes Bancos de la
            República Mexicana:
            <ul class="mt-2 list-group">
              <li class="list-group-item">Banorte: 42124</li>
              <li class="list-group-item">HSBC RAP: 2420</li>
              <li class="list-group-item">HSBC SPEI-PIRE: 021180550300024203</li>
            </ul>
          </li>
          <li class="list-group-item">
            Pago en efectivo en Sucursal y a través de Transferencia Bancaria en CITIBANAMEX convenio GOB
            <strong>MORELOS
              WS
              4579/01</strong>
          </li>
          <li class="list-group-item">
            Pago referenciado usando <strong>SPEI</strong> desde cualquier <strong>BANCA EN LÍNEA</strong>
          </li>

          <li class="list-group-item">
            Pago con cheque <strong>BANAMEX</strong> , realizar pago sólo en sucursales <strong>BANAMEX</strong>
          </li>
          <li class="list-group-item">
            Pago con cheque <strong>HSBC</strong> , realizar pago sólo en sucursales <strong>HSBC</strong>.
          </li>
          <li class="list-group-item">
            Pago con cheque <strong>BANCOMER</strong>, realizar pago sólo en sucursales <strong>BANCOMER</strong>.
          </li>
          <li class="list-group-item">
            Pago con cheque <strong>BANORTE</strong> y otros bancos, realizar pago sólo en sucursales
            <strong>BANORTE</strong>.
          </li>

        </ul>
        <p>
          Una vez confirmado el pago,podrás consultar tu comprobante y/o CFDI en
          <a
            href="https://pagos.administracionyfinanzas.morelos.gob.mx/#/pagos/dependencias?opc=2">pagos.morelos.gob.mx</a>
          , utilizando
          la línea de captura de tu póliza.
        </p>
        <p>
          Si realiza su pago, por medio del <strong>SPEI</strong>, es importante que en el rubro de Concepto o
          Referencia
          de pago,según su
          banca en línea, ingrese únicamente el número de Línea de Captura, de lo contrario la transferencia será
          denegada
          por el banco.
        </p>
        Si pagas por medio de <strong>SPEI</strong> o en sucursales <strong>HSBC</strong>, tu comprobante lo podrás
        consultar en 30
        minutos en <a
          href="https://pagos.administracionyfinanzas.morelos.gob.mx/#/pagos/dependencias?opc=2">pagos.morelos.gob.mx</a>,
        utilizando la línea de captura de tu póliza.
        <p>
          Si realiza su pago, por medio del <strong>SPEI</strong> o en <strong>ventanilla bancaria</strong> de los
          bancos
          de <strong>BBVA</strong>,
          <strong>Banamex</strong> y <strong>Santander</strong> los pagos se acreditaran de 1 a 2 días hábiles.
        </p>
      </mat-tab-nav-panel>
    </div>
    <div #2 *ngIf="position[2] && !mostrarEmbedBanorte">
      <!--<div #0 *ngIf="position[0] && !mostrarEmbedBanorte">-->

    <!-- Carlos A. 07/05/2026 - Inicio: TODA ESTA SECCION SE COMENTA POR PROBLEMAS CON BANCOS QUE NO TIENEN MAPEADA LA IP DE pagos.  -->
      <!--<mat-tab-nav-panel class="mt-5">
        <div class="flex  justify-content-center">
          <object [ngStyle]="{'width': (sizeDisplay == 'XSmall' || sizeDisplay=='Small') ? '350px' : '1100px'}"
            height="800">
            <embed [src]="url_pagolinea_only|sanitizeUrl"
              [ngStyle]="{'width': (sizeDisplay == 'XSmall' || sizeDisplay=='Small') ? '350px' : '1100px'}"
              height="800" />
          </object>
        </div>
      </mat-tab-nav-panel>-->
    <!-- Carlos A. 07/05/2026 - Fin Seccion -->

    <!-- Carlos A. 07/05/2026 - Inicio: Esta seccion se agrego para solucuionar el problema de bancos, borrar una vez resuelto -->
      <div class="mt-3 mb-3  flex  justify-content-center">
        <button mat-raised-button color="warn" (click)="portalPagoLinea()" *ngIf="position[2]">pago en Línea</button>
      </div>

      <mat-tab-nav-panel class="mt-5">
        <p>
          Tu pago será confirmado al momento de terminar la transacción y obtendrás tu comprobante o podrás consultar tu
          comprobante de pago en www.hacienda.morelos.gob.mx, utilizando la línea de captura de tu póliza.
        </p>
        <p>
          Al dar clic en el botón serás redireccionado a una página segura (HTTPS) de Gobierno del Estado de Morelos.
        </p>
        <ul class="mt-2 list-group">
          <li class="list-group-item"><strong>No. de orden(Referencia):</strong> {{datosPoliza.lineaCaptura}}</li>
          <li class="list-group-item"><strong>No. de póliza:</strong> {{datosPoliza.numeroPoliza}}</li>
          <li class="list-group-item"><strong>Monto total:</strong> {{datosPoliza.total |
            currency:'MXN':'symbol-narrow':'1.2-2'}}</li>
        </ul>

        <form [formGroup]="myForm" id="formPagoEnLinea" method="post"
          action="https://app.hacienda.morelos.gob.mx/pagoenlinea/" style="display:none;" target="_blank" #formPL>
          <input formControlName="poliza" id="poliza" name="poliza" type="hidden">
          <input formControlName="lineaCaptura" id="lineaCaptura" name="lineaCaptura" type="hidden">
          <input formControlName="monto" id="monto" name="monto" type="hidden">
          <input formControlName="nombrePago" id="nombrePago" name="nombrePago" type="hidden">
          <input formControlName="lineaDetallePago" id="lineaDetallePago" name="lineaDetallePago" type="hidden">
          <input formControlName="pago2015" id="pago2015" name="pago2015" type="hidden">
          <input formControlName="banco" id="banco" name="banco" type="hidden">
          <input formControlName="extra" id="extra" name="extra" type="hidden">
          <input formControlName="fecha" id="fecha" name="fecha" type="hidden">
        </form>

        <div class="bm-8 pt-2">
          <div style="display: flex;flex-flow: row wrap; justify-content: center;">
            <mat-card>
              <mat-card-header>
                <mat-card-subtitle>Puedes pagar con las tarjetas</mat-card-subtitle>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div style="display: flex;flex-flow: row wrap; justify-content: center;" class="mt-3">
                  <mat-card>
                    <img mat-card-image src="assets/metodo_pago/mastercard.png" alt="Mastercard" class="img-thumbnail"
                      style="width: 100px;">
                  </mat-card>
                  <mat-card>
                    <img mat-card-image src="assets/metodo_pago/visa_logo.png" alt="Visa"
                      style="width: 100px; height: 100px;">
                  </mat-card>
                </div>
              </mat-card-content>

            </mat-card>
          </div>
        </div>
      </mat-tab-nav-panel>
    <!-- Carlos A. 07/05/2026 - Fin Seccion -->


    </div>


    <div *ngIf="position[3] && mostrarEmbedBanorte">
      <mat-tab-nav-panel class="mt-5">
        <div class="flex justify-content-center">
          <iframe name="pagoFrame"
            [ngStyle]="{'width': (sizeDisplay == 'XSmall' || sizeDisplay=='Small') ? '350px' : '1100px'}" height="800">
          </iframe>
          <button #miBoton hidden (click)="enviarDatosClientePorPost()" class="btn btn-primary">
            Iniciar Pago
          </button>
        </div>
      </mat-tab-nav-panel>
    </div>
    <mat-tab #tabPanel>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Depósito Bancario
      </ng-template>
      Content 1
    </mat-tab>

  </mat-card-content>

</mat-card>
