<shared-load-spinner *ngIf="isLoading"></shared-load-spinner>
<!--<div class="card mb-7">
  <div class="flex justify-content-center flex-wrap">-->
<div class="grid fle pb-8">
  <div [ngClass]="(sizeDisplay !== 'Small' && sizeDisplay !== 'XSmall')?'col-12':'col-12'">
    <mat-card class="shadow-8">
      <mat-card-header class="mb-3">
        <mat-card-title>Cálculo de Costos</mat-card-title>
        <mat-card-subtitle>{{conceptTitle | titlecase }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider class="mt-2 mb-2"></mat-divider>
      <mat-card-content class="mt-5">
        <form [formGroup]="formHEnajenacionBienes">
          <div class="flex flex-wrap gap-1 md:gap-4 xl:gap-8">
            <div class="w-12rem h-6rem flex align-items-center justify-content-center">
              <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
                class="radio-container">
                <mat-label>Tiene exención</mat-label>
                <input matInput style="display:none" required>
                <mat-radio-group #group_c_tp formControlName="tiene_exencion" class="flex-wrap"
                  (change)="onChangeExencion($event.value)">
                  <mat-radio-button #buttons_c_tp value="0">
                    <span class="wrap-label-text">No</span>
                  </mat-radio-button>
                  <mat-radio-button #buttons_c_tp value="1">
                    <span class="wrap-label-text">Sí</span>
                  </mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>
            <div class="w-12rem h-6rem flex align-items-center justify-content-center">
              <!-- Botón de subir archivo -->
              <button mat-fab color="primary" class="butupfile" matTooltip="Agregar Documento" [disabled]="!isUploadEnabled" (click)="validarYSubirArchivo(fileUpload)">
                <mat-icon>archive</mat-icon>
              </button>

              <!-- Texto junto al botón -->
              <span class="ml-2">Subir archivos</span>

              <!-- Input de archivo oculto -->
              <input id="file-input" type="file" style="display: none !important" class="file-input" (change)="onChange($event)" #fileUpload />
            </div>
          </div>



          <div class="input-row" fxLayout="row" fxLayout.lt-md="column">


            <div fxFlex class="flex m-2" appearance="outline">

            </div>
          </div>


          <div class="input-row" fxLayout="row" fxLayout.lt-md="column">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="radio-container">
              <mat-label>Cuenta con escritura</mat-label>
              <input matInput style="display:none" required>
              <mat-radio-group #group_c_tp formControlName="tiene_escritura" class="flex-wrap"
                (change)="changeRadioTP($event.value)">
                <mat-radio-button #buttons_c_tp value="0">
                  <span class="wrap-label-text">No</span>
                </mat-radio-button>
                <mat-radio-button #buttons_c_tp value="1">
                  <span class="wrap-label-text">Sí</span>
                </mat-radio-button>
              </mat-radio-group>
            </mat-form-field>

            <mat-form-field fxFlex class="col-6" appearance="outline">
              <mat-label>Tipo de ingreso por enajenación</mat-label>
              <mat-select formControlName="tipo_ingresos" required>
                <mat-option *ngFor="let listaIng of tipoIngEnajenacionArr; let i = index"
                  [ngClass]="{'blanco': i % 2 === 0, 'gris': i % 2 !== 0}"
                  [value]="listaIng.id">{{listaIng.descripcion}}</mat-option>
              </mat-select>
              <mat-error class="fontsizeerror" *ngIf="isValidField('tipo_ingresos')"> Campo requerido </mat-error>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column">
            <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
              <mat-label>Escritura</mat-label>
              <input matInput type="text" formControlName="escritura">
              <mat-error class="fontsizeerror">{{
                getMessage(formHEnajenacionBienes.get('escritura')?.errors,'escritura')
                }}</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex style="margin-right:0.5em;" appearance="outline">
              <mat-label>Fecha de enajenación</mat-label>
              <input matInput [matDatepicker]="dpff" formControlName="fecha_enajenacion" [readonly]="true">
              <mat-error class="fontsizeerror">No puede ser mayor a la fecha actual</mat-error>
              <mat-datepicker-toggle matIconSuffix [for]="dpff"></mat-datepicker-toggle>
              <mat-datepicker #dpff disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex style="margin-right:0.5em;" appearance="outline">
              <mat-label>Fecha de Provisional de Escritura</mat-label>
              <input matInput [matDatepicker]="dpff" formControlName="fecha_provisional_escritura" [readonly]="true">
              <mat-error class="fontsizeerror">No puede ser mayor a la fecha actual</mat-error>
              <mat-datepicker-toggle matIconSuffix [for]="dpff"></mat-datepicker-toggle>
              <mat-datepicker #dpff disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="full-width radio-container">
              <mat-label>Datos del enajenante</mat-label>
              <input matInput style="display:none" required>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Teléfono de contacto</mat-label>
                <input matInput type="text" formControlName="noPhone">
                <mat-hint>Ej: 7771234567</mat-hint>
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('noPhone')?.errors,'noPhone')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field style="margin-right:0.5em;" appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error>{{getMessage(formHEnajenacionBienes.get('email')?.errors,'email')}}</mat-error>
              </mat-form-field>

            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="full-width radio-container">
              <mat-label>Domicilio del bien a enajenar</mat-label>
              <input matInput style="display:none" required>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Referencia del inmueble</mat-label>
                <input matInput formControlName="referencia_inmueble" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('referencia_inmueble')?.errors,'referencia_inmueble')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Monto del avaluo</mat-label>
                <input matInput formControlName="monto_avaluo" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('monto_avaluo')?.errors,'monto_avaluo')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Ingreso por enajenación</mat-label>
                <input matInput formControlName="ingreso_enajenacion" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('ingreso_enajenacion')?.errors,'ingreso_enajenacion')
                  }}</mat-error>
              </mat-form-field>

            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="full-width radio-container">
              <mat-label>Determinar deducciones</mat-label>
              <input matInput style="display:none" required>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Costo actualizado de adquisición</mat-label>
                <input matInput formControlName="costo_comprobado" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('costo_comprobado')?.errors,'costo_comprobado')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Inversiones de mejora</mat-label>
                <input matInput formControlName="importe_inversion" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('importe_inversion')?.errors,'importe_inversion')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Gastos notariales</mat-label>
                <input matInput formControlName="gastos_notariales" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('gastos_notariales')?.errors,'gastos_notariales')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Comisiones y mediaciones pagadas</mat-label>
                <input matInput formControlName="comisiones_mediaciones" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('comisiones_mediaciones')?.errors,'comisiones_mediaciones')
                  }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Otras deducciones</mat-label>
                <input matInput formControlName="otras_deducciones" type="text">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('otras_deducciones')?.errors,'otras_deducciones')
                  }}</mat-error>
              </mat-form-field>

            </mat-form-field>
          </div>

          <!--<div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="full-width radio-container">
              <mat-label>Cálculo base del impuesto</mat-label>
              <input matInput style="display:none" required>
              <mat-radio-group #group_c_tp formControlName="calcula_base_impuesto" class="flex-wrap">
                <mat-radio-button #buttons_c_tp value="1">
                  <span class="wrap-label-text">Venta</span>
                </mat-radio-button>
                <mat-radio-button #buttons_c_tp value="2">
                  <span class="wrap-label-text">Permuta</span>
                </mat-radio-button>
              </mat-radio-group>
            </mat-form-field>
          </div>-->

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="full-width radio-container">
              <mat-label>Datos del Notario</mat-label>
              <input matInput style="display:none" required>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="rfc" type="text" name="" id="">
                <mat-error class="fontsizeerror">El RFC es incorrecto</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Nombre(s)</mat-label>
                <input matInput type="text" formControlName="nombre">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('nombre')?.getError('error'),'nombre') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Notaría</mat-label>
                <input matInput type="text" formControlName="notaria">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('notaria')?.getError('error'),'notaria') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Entidad</mat-label>
                <input matInput type="text" formControlName="entidad">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('entidad')?.getError('error'),'entidad') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Demarcación</mat-label>
                <input matInput type="text" formControlName="demarcacion">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('demarcacion')?.getError('error'),'demarcacion') }}
                </mat-error>
              </mat-form-field>

            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex style="margin-right:0.5em;" #field_p floatLabel="always" appearance="outline"
              class="full-width radio-container">
              <mat-label>Datos del Perito Valuador</mat-label>
              <input matInput style="display:none" required>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="rfc_perito" type="text" name="" id="">
                <mat-error class="fontsizeerror">El RFC es incorrecto</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Nombre(s)</mat-label>
                <input matInput type="text" formControlName="nombre_perito">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('nombre_perito')?.getError('error'),'nombre_perito') }}
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Domicilio fiscal</mat-label>
                <input matInput type="text" formControlName="domicilio_perito">
                <mat-error class="fontsizeerror">{{
                  getMessage(formHEnajenacionBienes.get('domicilio_perito')?.getError('error'),'domicilio_perito') }}
                </mat-error>
              </mat-form-field>
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions align="end">
        <button mat-stroked-button mat-raised color="warn" [routerLink]="['/pagos/dependencias']">
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
        <span class=""></span>
        <button [disabled]="formHEnajenacionBienes.invalid" mat-stroked-button mat-raised color="primary"
          (click)="onSubmit()">
          <mat-icon>calculate</mat-icon>
          Calcular
        </button>
      </mat-card-actions>

    </mat-card>
  </div>

  <!--<div class="col-4" *ngIf="sizeDisplay !== 'Small' && sizeDisplay !== 'XSmall'">
    <messages-hacienda [messageArr]="messages" [messageArr_other]="messages_other"></messages-hacienda>
  </div>-->

</div>
