<!-- payment-dialog.component.html -->
<div class="dialog-container"
     style="background-image: url('./assets/fondoLogo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center
            ">
    <h2  class="dialog-titulo">Histórico Pagos</h2>
    
    <mat-dialog-content>
      <form [formGroup]="paymentForm">
        <div class="form-field">
          <label class="text-center">Número de Serie</label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput formControlName="numeroSerie">
          </mat-form-field>
        </div>
        
        <div class="form-field">
          <label class="text-center">Placa</label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput formControlName="placa" type="text">
          </mat-form-field>
        </div>
        
        <div *ngIf="captureLineInvalid" class="error-message">
          Campos faltantes
        </div>
      </form>
    </mat-dialog-content>
    
    <mat-dialog-actions align="center">
      <button mat-raised-button color="primary" class="search-button" (click)="search()">
        Buscar
      </button>
    </mat-dialog-actions>
  </div>