<shared-load-spinner *ngIf="isLoading"></shared-load-spinner>
<div class="card">
  <div class="flex justify-content-center flex-wrap">
    <mat-card class="shadow-8">
      <mat-card-header>
        <mat-card-title>Busqueda Estado de Cuenta</mat-card-title>
      </mat-card-header>
      <mat-divider class="mt-2 mb-2"></mat-divider>
      <mat-card-content>
        <div class="">
          <form action="" fxLayout="column"  [formGroup]="predialMunicipal" (ngSubmit)="onSubmit()">
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
              <mat-label>Municipio</mat-label>
              <mat-select formControlName="municipio" >
                <mat-option value="">--- Seleccione municipio ---</mat-option>
                <mat-option *ngFor="let municipio of municipiosArr" [value]="municipio.pk">
                  {{municipio.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
              
              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>Clave Catastral</mat-label>
                <input matInput formControlName="claveCatastral" required type="text" maxlength="8">
                <mat-error class="fontsizeerror"> Campo requerido </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex class="" appearance="outline" hintLabel="">
                <mat-label>Identificador</mat-label>
                <input #serie matInput formControlName="validador" required #serieV type="text" name="" maxlength="5">
                <mat-error class="fontsizeerror"> Campo requerido </mat-error>

              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions align="end">
        <div class="flex justify-content-between">
          <button mat-stroked-button color="warn" [routerLink]="['/pagos/dependencias']">
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
          <span class="spacer"></span>
          <button mat-stroked-button color="primary" [disabled]="predialMunicipal.invalid" (click)="onSubmit()">
            <mat-icon>calculate</mat-icon>
            Buscar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
