<!-- payment-dialog.component.html -->
<div class="dialog-container"
style="background-image: url('./assets/fondoLogo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center">
  <h2 class="dialog-titulo">Pago en Línea</h2>
  <p class="dialog-subtitle">Introduzca la línea de Captura</p>
  
  <mat-dialog-content>
    <form [formGroup]="paymentForm">
      <div class="form-field">
        <label class="text-center dialog-label">Línea Captura</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput formControlName="captureLine">
          <mat-error *ngIf="paymentForm.get('captureLine')?.invalid">Campo requerido</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-field">
        <label class="text-center dialog-label">Monto</label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput formControlName="amount" type="number">
          <mat-error *ngIf="paymentForm.get('amount')?.invalid">Campo requerido</mat-error>
        </mat-form-field>
      </div>
      
      
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" class="dialog-search-button" (click)="search()">
      Buscar
    </button>
  </mat-dialog-actions>
</div>