.contenedor-pasarela {
  position: relative;
  display: inline-block;
  height: 800px;
}

.capa-interceptora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  /* Nota: Al dar clic, este escudo absorberá el evento.
     Si necesitas que el usuario interactúe con el formulario de adentro,
     tendrás que desactivar o quitar esta capa tras el primer clic. */
}
