<shared-load-spinner *ngIf="isLoading"></shared-load-spinner>
<div class="grid flex">
  <div [ngClass]="(sizeDisplay !== 'Small' && sizeDisplay !== 'XSmall')?'col-8':'col-12'">
    <mat-card>
      <mat-card-header class="mb-3">
        <mat-card-title>Cálculo de Costos</mat-card-title>
        <mat-card-subtitle>{{conceptTitle | titlecase}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-3">
        <form [formGroup]="formLicencias">
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <div class="example-container-expand">
              <mat-form-field #field_lv  floatLabel="always" appearance="outline" class="full-width radio-container">
                <mat-label>Cuenta con licencia de <b>{{tipoLic}}</b> emitida por <br><b>GOBIERNO DEL ESTADO DE MORELOS</b></mat-label>
                <input matInput style="display:none" required>
                <mat-radio-group #group_lv class="flex-wrap" formControlName="tien_licencia" (change)="tieneLicencia($event.value)">
                  <mat-radio-button #buttons_lv value="1">
                    <span class="wrap-label-text">Si</span>
                  </mat-radio-button>
                  <mat-radio-button #buttons_lv value="0" >
                    <span class="wrap-label-text">No</span>
                  </mat-radio-button>
                </mat-radio-group>
              </mat-form-field>
            </div>

              <mat-form-field fxFlex class="" style="margin-right:0.5em;" appearance="outline">
                <mat-label>No de Licencia</mat-label>
                <input #no_licencia matInput type="text" maxlength="20" formControlName="no_licencia" (keyup)="onKeyPress(txtInput.value)" #txtInput>
                <mat-error *ngIf="isValidField('no_licencia')"> Campo requerido</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Fecha Vencimiento</mat-label>
                <input matInput [matDatepicker]="dpfv" formControlName="fecha_vencimiento" > <!--[max]="maxDate" formControlName="fecha_vencimiento" -->
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-error *ngIf="isValidField('fecha_vencimiento')"> Campo requerido y no mayor a 28 días </mat-error>
                <mat-datepicker-toggle matIconSuffix [for]="dpfv"></mat-datepicker-toggle>
                <mat-datepicker #dpfv></mat-datepicker>
              </mat-form-field>

          </div>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button color="warn" [routerLink]="['/pagos/dependencias']">
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
        <span class=""></span>
        <button mat-stroked-button color="primary" [disabled]="" (click)="onSubmit()">
          <mat-icon>calculate</mat-icon>
          Calcular
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4" *ngIf="sizeDisplay !== 'Small' && sizeDisplay !== 'XSmall'">
    <smyt-messages [messageArr]="messages" ></smyt-messages>
  </div>
</div>
