<mat-sidenav [ngStyle]="{width: '350px'}" #sidenav mode="push" style="z-index:101;">
  <shared-load-spinner *ngIf="isLoading"></shared-load-spinner>
  <mat-toolbar color="primary" [class.mat-elevation-z5]="true">
    <span>Menú</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-nav-list>

      <mat-card class="" *ngIf="showMessage">
        <mat-card-content >
          <div [ngClass]="{ 'alert': 'Prueba', 'alert-danger': 'error' }">Seleccione alguna de las dependencia para mostrar las opciones </div>
        </mat-card-content>
      </mat-card>

    <mat-list-item *ngFor="let item of itemsConceptos">
      <div matListItemLine routerLinkActive="active"  (click)="actionList(item.url,item.textoTitulo)">
        {{item.textoTitulo}}
      </div>
      <span>
        <mat-divider></mat-divider>
      </span>
    </mat-list-item>
  </mat-nav-list>

</mat-sidenav>
