<mat-sidenav [ngStyle]="{width: '350px'}" #sidenav mode="push" >

  <mat-toolbar color="primary" [class.mat-elevation-z5]="true">
    <span>Menú</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-nav-list>

    <mat-list-item *ngFor="let item of itemsConceptos">
      <div matListItemLine [routerLink]="item.url" routerLinkActive="active" >
        {{item.textoTitulo}}
      </div>
    </mat-list-item>
    <mat-divider #divider></mat-divider>

  </mat-nav-list>

</mat-sidenav>
