<div class="example-container" [formGroup]="myFormShared" #ChildComponent>
  <mat-form-field>
    <mat-label>Oficina del trámite</mat-label>
    <mat-select formControlName="oficina_tramite">
      <mat-option value="1">PRIMER OFICINA</mat-option>
    </mat-select>
  </mat-form-field>

  <!--mat-form-field>
    <mat-label>Tipo de vehículo</mat-label>
    <mat-select formControlName="tipo_vehiculo">
      <mat-option value="2"> PRMER TIPO</mat-option>
    </mat-select>
  </mat-form-field-->

</div>
<!--div class="example-container">
  <mat-form-field>
    <mat-label>No de serie Vehicular</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmar No de serie Vehicular</mat-label>
    <input matInput type="text">
  </mat-form-field>
</div>
<div-- class="example-container">
  <mat-form-field>
    <mat-label>Fecha factura</mat-label>
    <input matInput [matDatepicker]="dpff" disabled>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dpff"></mat-datepicker-toggle>
    <mat-datepicker #dpff disabled="false"></mat-datepicker>
  </mat-form-field>
</div-->




