.my-toolbar {
  background-color: #dbdace;
  color: #213523;
  height: 85px;
}
.wide-trigger {
  width: 400px;
}
@media (max-width: 768px) {
  .wide-trigger {
    width: 100%; /* Que ocupe solo el espacio disponible */
    max-width: 200px; /* O el máximo que quieras para que no se vea enorme */

  }
}
::ng-deep .my-menu {
  max-width: 500px !important
}
.containerToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.leftToolbar {
  display: flex;
  align-items: center;
  flex: 1; /* 1 parte */
}

.centerToolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2; /* más espacio en el centro */
  text-align: center;
}

.rightToolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1; /* 1 parte */
}

/* Móviles */
@media (max-width: 768px) {
  .rightToolbar {
    display: none;
  }

  .leftToolbar {
    width: auto;
    left: 0;
    padding-left: 10px;
  }

  .centerToolbar {
    width: 100%;
    left: 0;
    justify-content: center;
  }
}


/*.containerRight {
  position: relative;
  width: 100%;
  height: 100%;
}*/

.rightOne {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}
.rightToolbarSecond {
  position: absolute;
  width: 132%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 2; /* Para que estén por encima del div central */
  margin-left: 60px;

}
.rightOneSecond {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  color: red;
}
.rightTwoSecond {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.rightTwo {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.leftToolbar {
  left: 0;
}

.rightToolbar {
  right: 0;
}





/*Carlos A. 27/05/2026 - CSS para la nueva imagen*/
/*.my-toolbar {
  color: #213523;
  height: 85px;

  width: 100% !important;
  box-sizing: border-box;
  padding: 0 16px;
}

.wide-trigger {
  width: 400px;
}

@media (max-width: 768px) {
  .wide-trigger {
    width: 100%; // Que ocupe solo el espacio disponible
    max-width: 200px; // O el máximo que quieras para que no se vea enorme

  }
}

::ng-deep .my-menu {
  max-width: 500px !important
}

.containerToolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.leftToolbar {
  display: flex;
  align-items: center;
  flex: 1; // 1 parte
}

.centerToolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  // más espacio en el centro
  text-align: center;

  width: 100%;
}

.rightToolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1; // 1 parte
}

// Móviles
@media (max-width: 768px) {
  .rightToolbar {
    display: none;
  }

  .leftToolbar {
    width: auto;
    left: 0;
    padding-left: 10px;
  }
}


.rightOne {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.rightToolbarSecond {
  position: absolute;
  width: 132%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 2; // Para que estén por encima del div central
  margin-left: 60px;

}

.rightOneSecond {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  color: red;
}

.rightTwoSecond {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.rightTwo {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.leftToolbar {
  left: 0;
}

.rightToolbar {
  right: 0;
}*/
