/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}
.example-container mat-form-field {
  width: 40%;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

.alert-danger {
  color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
  color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert{
  position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}


