/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.spacer {
  flex: 1 1 auto;
}

.alert-danger {
  color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
  color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-info {
  color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert{
  position: relative;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.fontsizeerror {
  font-size: .50rem;
}

@font-face {
  font-family: 'QuetzalSansRegular';
  src: url('./assets/fonts/QuetzalliSans-Regular.otf');
}

@font-face {
  font-family: 'QuetzalSansMedium';
  src: url('./assets/fonts/QuetzalliSans-Medium.otf');
}

@font-face {
  font-family: 'QuetzalSansLight';
  src: url('./assets/fonts/QuetzalliSans-Light.otf');
}

@font-face {
  font-family: 'QuetzalSansThin';
  src: url('./assets/fonts/QuetzalliSans-Thin.otf');
}

/*.example-container mat-form-field {
  width: 40%;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}



.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

mat-form-field{
  display: block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}*/
/* payment-dialog.component.scss */
.dialog-container {
  padding: 16px;
  max-width: 400px;
  border-radius: 20px;
  background-color: #F3F2EE;
}

.dialog-titulo {
  color: #b27c4a !important;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
}

.dialog-subtitle {
  text-align: center;
  color: #666;
  margin-top: 8px;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 16px;
}

.dialog-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 8px;
}

.dialog-error-message {
  color: #f44336;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 16px;
  text-align: center;
}

mat-dialog-actions {
  justify-content: center;
  padding: 16px 0;
}

.dialog-search-button {
  background-color: #4b7e48;
  color: white;
  min-width: 120px;
  border-radius: 20px;
}
.dialog-close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10;
}
::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  border-radius: 20px !important;
}
::ng-deep.mat-mdc-dialog-surface {
  border-radius: 20px !important;
}
::ng-deep.mdc-dialog__surface{
  border-radius: 20px !important;
}

::ng-deep .mat-form-field-outline {
  background-color: white;
  border-radius: 4px;
}


