/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}
.example-container mat-form-field {
  width: 40%;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}
